<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />

</head>

<body>
  <svg id="d3svg" width="800" height="600"></svg>
  <div id="editor">
    <button v-on:click="btnClicked">btn</button>
    <star-system v-for="(node,nodeId) in graph.nodes" :key="nodeId" :node="node"></star-system>

    graph: {{graph}}
  </div>
  <script src="/js/vue.js"></script>
  <script src="/js/d3.v5.min.js"></script>
  <script src="/js/d3code.js"></script>
  <script src="/js/editor.js"></script>
</body>